@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #F0EB00;
  border-radius: 10px 15px;
}
body::-webkit-scrollbar-track {
  background-color: #ececec;
}
body::-webkit-scrollbar:vertical {
  width: 8px;
}
::selection {
  color: #fff;
  background-color: #f0eb00;
}
.MainBanner{
  background: center / cover no-repeat url("../assets/images/MainBanner.svg") ;
}

.BackgroundPortfolio{
  background: center / cover no-repeat url("../assets/images/portfolio-background.svg") ;

}

#sliderHome span.swiper-pagination-bullet {
  background: #fff!important;
}

#sliderHome span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F2EB21 !important;
}